<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

        <div>
            <p>published: 16.11.2020, 03:57</p>
            <h2><a href="">Мой первый пост</a></h2>
            <p>Только в скучном взрослом мире люди могут отказаться от блюда, потому что «углеводы», или оно стоит как 20 литров бензина. Дети находят причины «посерьёзнее»</p>
        </div>
            <p>published: 16.11.2020, 03:58</p>
            <h2><a href="">Мой последний пост</a></h2>
            <p>Герои «Силы пудры» относятся к макияжу как к основному способу самовыражения и не боятся использовать косметику так, как хочется им, а не производителям и глянцевым журналам</p>
        </div>
    </body>
</html>

